*.sqlite3
*.py[cod]
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

env/
.venv/
.env
server/.env.secrets
server/.env.secrets.cloud
server/.env.secrets.local
server/.env.local-postgres.backup
server/ca-certificate.crt

.vscode/
.idea/

logs/
*.log

client/playwright-report/
client/test-results/

server/static/rest_framework/**/*.png
